/* Login form layout */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    position: absolute;
    width: 736px;
    height: 100%;
    left: calc(50% - 736px/2);

    text-decoration: none;
    color: white;


    background: linear-gradient(135.5deg, rgb(86, 225, 248, 0.1) 17.67%, rgb(49, 182, 255, 0.1) 92.01%);
}

/* Title of Form */
.login-form h2 {
    margin-top: 60px;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 520;
    font-size: 40px;

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}


/* Line under Register */
.line-row {
    margin-bottom: 80px;
    display: flex;
    position: relative;
}


.line-on {
    margin: 10px;
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
    width: 85px;
    height: 4px;

}

.line-off {
    margin: 10px;
    background: #004975;
    width: 85px;
    height: 4px;

}




/* Form layout */
.form-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    text-align: right;
}

.form-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
}

.form-input-wrapper-false {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid red;
    background: rgba(255, 255, 255, 0.2);
}



.form-input {
    border: 0px solid #ccc;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;

    width: 73%;

    color: rgb(255, 255, 255);
    background-color: rgba(49, 182, 255, 0);


}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.644);
    opacity: 1;
}

.form-input:focus {
    outline: none;
    background: none;
}

.form-input[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 55px;

    margin-top: 23%;
    margin-bottom: 2%;

    pointer-events: all;
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
    border-radius: 12px;
    color: black;

    font-weight: 600;
    font-size: 20px;
}

.form-input[type="submit"]:active {
    background: linear-gradient(180deg, #56e0f8a9 0%, #31b7ff98 100%);
    transform: translateY(1px)
}

.form-input-inactive[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 55px;

    margin-top: 23%;
    margin-bottom: 2%;

    background: grey;
    pointer-events: none;
    border-radius: 12px;
    color: black;

    font-weight: 600;
    font-size: 20px;
}




/* Form Icons */
.form-mail-icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    margin: 0 7px 0 15px;
    background-image: url('../assets/icons/email.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.form-eye-icon {
    display: inline-block;
    width: 18px;
    height: 18px;

    margin: 4px 7px 0 15px;
    background-image: url('../assets/icons/eye_closed.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.form-locked-icon {
    display: inline-block;
    width: 18px;
    height: 18px;

    margin: 0px 7px 0 15px;
    background-image: url('../assets/icons/locked.png');

    background-repeat: no-repeat;
    background-size: contain;
}

/* Form rules style */
.rule-wrapper {
    display: flex;
    margin-bottom: 10px;
    margin-top: 70px;
    border-radius: 12px;
}

.rules {
    text-decoration: underline red;
}

/* Secret page */

.secret-line {
    margin-bottom: 0;
}

.secret-btn[type="submit"] {
    margin-top: 15px;
}

.back-btn[type="submit"] {
    margin-top: 15px;
    color: white;
    background: rgba(55, 189, 254, 0.1);
}

/* Secret Form grid */
.secret-form-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.grid-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.grid-item {
    background-color: #00003C;
    padding: 20px 20px;
    text-align: center;
}

.secret-phrase-warning {
    background: rgba(217, 217, 217, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;
}

/* Secret phrase tetsing list */
.custom-list {
    list-style: none;
    margin-top: 30px;
}

.list-item {
    list-style: none;
    height: 40px;
    margin-top: 30px;

}

.dotted-underline {
    list-style: none;
    border: none;
    border-bottom: 2px dotted #ffffff;
    outline: none;
    background: none;
    text-align: center;
    font-size: 17px;

    color: white;
    width: auto;
}

/* Congradulation text */
.congratulation {
    margin: 110px 0;
    text-align: center;

}

.congratulation h2 {
    display: block;
}