.line-row {
    top: 130px;
    display: flex;
    position: relative;
}


.line-on {
    margin: 10px;
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
    width: 85px;
    height: 4px;

}

.line-off {
    margin: 10px;
    background: #004975;
    width: 85px;
    height: 4px;

}


.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    position: absolute;
    width: 736px;
    height: 100%;
    left: calc(50% - 736px/2);

    text-decoration: none;
    color: white;


    background: linear-gradient(135.5deg, rgb(86, 225, 248, 0.1) 17.67%, rgb(49, 182, 255, 0.1) 92.01%);
}


.loginForm h2 {

    position: absolute;
    top: 22%;


    font-style: normal;
    font-weight: 520;
    font-size: 40px;


    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}




.formContainer {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    margin-top: 28%;
    text-align: right;
}

.form_input_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
}

.form_input_wrapper_false {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid red;
    background: rgba(255, 255, 255, 0.2);
}

.rule_wrapper {
    display: flex;
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 12px;
}

.rules {
    text-decoration: underline red;
}

.formInput {
    border: 0px solid #ccc;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;

    width: 73%;

    color: rgb(255, 255, 255);
    background-color: rgba(49, 182, 255, 0);


}

.formInput::placeholder {
    color: rgba(255, 255, 255, 0.644);
    opacity: 1;
}

.formInput:focus {
    outline: none;
    background: none;
}

.formInput[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 55px;

    margin-top: 23%;
    margin-bottom: 2%;

    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
    border-radius: 12px;
    color: black;

    font-weight: 600;
    font-size: 20px;
}

.formInput[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 20px 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: #00003C;
    color: #56E1F8;
}






.formMailIcon {
    display: inline-block;
    width: 16px;
    height: 16px;

    margin: 0 7px 0 15px;
    background-image: url('../assets/icons/email.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.formEyeIcon {
    display: inline-block;
    width: 18px;
    height: 18px;

    margin: 4px 7px 0 15px;
    background-image: url('../assets/icons/eye_closed.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.formLocked {
    display: inline-block;
    width: 18px;
    height: 18px;

    margin: 0px 7px 0 15px;
    background-image: url('../assets/icons/locked.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.grid-secret {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    width: 332px;
    height: 264px;

    /* dark-blue */

    background: #00003C;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}