.container {
    background-color: #00003C;
    display: flex;
    justify-content: flex-start;

    gap: 3.125rem;
    height: 40vh;
}

.logo {
    margin-left: 10%;
    margin-top: -17%;

    /* top: 0; */

    align-self: center;

    width: 15.625rem;
    height: 3.125rem;
}

.follow-us h2 {
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-content: left;

    font-style: normal;
    font-weight: 400;
    padding-bottom: 1.25rem;
    font-size: 1.2rem;
}

.follow-us a {
    text-decoration: none;
    color: white;
}

.policy h2 {
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 200;
    font-size: 1.2rem;
    padding-bottom: 0.625rem;

}

.policy a {
    text-decoration: none;
    color: white;
}