.container {
    background-color: #00003C;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 3.125rem;
    height: 40vh;
}

.logo {
    /* margin-left: 10%;
    margin-top: -17%; */

    /* top: 0; */

    /* align-self: center; */

    background-image: url('../assets/logo-dark.png');
    background-size: cover;
    background-repeat: no-repeat;

    width: 15.625rem;
    height: 3.125rem;
}

.follow-us h2{
    display: flex;
    flex-direction: column;

    justify-content: left;

    font-style: normal;
    font-weight: 400;
    padding-bottom: 1.25rem;
    font-size: 1.2rem;
}

.follow-us a {
    text-decoration: none;
    color: white;
}

.instagram {

    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/instagram.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.facebook {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/facebook.png');

    background-repeat: no-repeat;
    background-size: contain;

}

.telegram {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/telegram.png');

    background-repeat: no-repeat;
    background-size: contain;

}

.twitter {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/twitter.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.linkedin {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/linkledin.png');

    background-repeat: no-repeat;
    background-size: contain;
}


.policy h2 {
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 200;
    font-size: 1.2rem;
    padding-bottom: 0.625rem;

}

.policy a {
    text-decoration: none;
    color: white;
}

.autortiesibas{
    display: flex;
    flex-basis: 100%;
    /* justify-content: center; */
    margin-left: 18%;
    
}
