
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');

:root {
   --max-width: 100%;
   --border-radius: 12px;
   /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
     'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
     'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */

   --foreground-rgb: #00003C;
   font-family: 'Manrope', sans-serif;
 }

 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

 html,
 body {
   max-width: 100%;
   overflow-x: hidden;
   background: var(--foreground-rgb);
 }

 a {
   text-decoration: none;
   color: #56E1F8;
 }

 p {
   font-weight: 200;
 }



 /* Prefered mode */
 @media (prefers-color-scheme: light) {
   html {
     color-scheme: dark;
   }
 }