/* Section 1 */
.section-one {
  padding: 3rem 8rem 3rem 8rem;
  height: auto;
  background: #00003C;
  display: flex;
  text-align: left;
}

.element {
  flex: 1;
  display: flex;
}

.section-one .container {
  flex-direction: column;

  text-align: left;
  justify-content: center;
}

.container h1 {
  font-size: 2.5rem;
  line-height: 3.4375rem;
  margin-bottom: 2.5rem;
}

.container h2 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6875rem;
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin: 0.625rem 0rem;
  border-radius: 0.75rem;
}

.form-input-wrapper {
  display: flex;
  align-items: center;
  margin: 0.9375rem 0rem;
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.2);
  width: 20rem;
}

.form-input {
  border: 0rem solid #ccc;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.9375rem;

  height: 3.25rem;
  width: 73%;

  font-size: 1rem;
  color: rgb(255, 255, 255);

  background-color: rgba(49, 182, 255, 0);
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.829);
  opacity: 1;
  font-weight: 500;
}

.button {
  text-align: center;
  font-weight: 700;
  font-size: 1.1875rem;

  padding: 0.75rem 1.25rem;
  margin-left: 1.875rem;
  height: 3.25rem;
  width: 10rem;

  border: none;
  border-radius: 0.75rem;
  background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
  color: black;

  cursor: pointer;
  pointer-events: all;
}

.button:hover {
  border: 0.125rem solid #31B6FF;
  border-radius: 0.75rem;
  background: #00003C;

  color: #31B6FF;
}

.img-coins {
  max-width: 44rem;
  max-height: 21.5rem;
  width: 100%;
  height: auto;
  margin: auto;
}

/* Section 2 */
.section-two {
  padding: 3rem 8rem 3rem 0;
  display: flex;
  text-align: left;
  background-image: url('../../public/assets/home/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.img-people {
  max-height: 21.5rem;
  max-width: 100%;
  width: auto;
  margin: auto;
}

.section-two .container {
  margin: auto;
  padding: 3rem 0 3rem 0;

  flex-direction: column;

  text-align: left;
  justify-content: center;
}

.read-more {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.69rem;
  color: linear-gradient(135.5deg, #56E1F8 17.67%, #31B6FF 92.01%);
}

/* Section 3 */
.section-three {
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #00003C;
  text-align: left;
}

.section-three h1 {
  font-size: 2.5rem;
  line-height: 3.4375rem;
  margin-bottom: 2.5rem;
  margin-left: 10%;
}

.card-container {
  margin-top: 4.38rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.12rem;
}

.card {
  max-width: 12.5rem;
  height: auto;
  text-align: center;
}

.card-image {
  width: auto;
  height: 10rem;
}


.title {
  font-size: 1.125rem;
  margin-top: 0.625rem;
}

.text {
  font-size: 0.875rem;
  color: #FFFFFF;
  margin-top: 0.3125rem;
  line-height: 1.375rem;
  text-align: center;
}

/* Section 4 */
.section-four {
  display: flex;
  text-align: left;
  padding: 0 8rem;

  background-image: url('../../public/assets/home/background.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.section-four .container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.section-four .item {
  padding: 2rem 0;
  flex: 2;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section-four .item:first-child {
  display: flex;
  flex: 1;
  width: 100%;
  align-self: center;
}

.img-phone {
  width: 100%;
  height: 100%;
  max-width: 22rem;
  margin: auto;
  align-items: center;
  justify-content: center;

}

.flexbox {
  margin-top: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.field {
  flex-basis: 50%;
}

.card-horizontal {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.875rem;
}

.section-four .content {
  flex: 1;
}

.mobile-front {
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 0.625rem;
}

.boy-front {
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 0.625rem;
}

.wallet-front {
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 0.625rem;
}

.target-front {
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 0.625rem;
}

/* Section 5 */
.section-blog {
  padding: 3.75rem 10rem 0 10rem;
  height: 32.5rem;
  background: #00003C;
  text-align: left;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-left {
  font-size: 2.5rem;
  line-height: 3.4375rem;
  margin-bottom: 2.5rem;
}

.title-right {
  display: flex;
  gap: 0.625rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6875rem;

  color: #FFFFFF;
}

.container-flex {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}



.imageWrapper {

  position: relative;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 1.5625rem;
  margin: auto;
  text-align: left;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: auto;

  z-index: 3;

  color: #ffffff;
}


.image-news-1 {
  border-radius: 0.625rem;

  max-width: 44rem;
  width: 100%;
  height: auto;
}

.image-news-2 {
  border-radius: 0.625rem;

  max-width: 21.5rem;
  width: 100%;
  height: auto;
}


.image-gradiant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00003C -15.41%, rgba(0, 0, 60, 0) 90.12%);
  z-index: 1;
}

/* Section 6 */

.image-blog-1 {

  max-width: 44rem;
  width: 100%;
  height: 21.5rem;

  border-radius: 0.625rem;
}

.image-blog-2 {

  max-width: 44rem;
  width: 100%;
  height: 21.5rem;

  border-radius: 0.625rem;
}