/* Form Icons */
.form-mail-icon {
    display: inline-block;
    max-width: 1.2rem;
    height: auto;
    margin: 0 0.44rem 0 0.94rem;
}

.form-eye-icon {
    display: inline-block;
    max-width: 1.3rem;
    height: auto;
    margin: auto;
}

.form-locked-icon {
    display: inline-block;
    max-width: 1.125rem;
    height: auto;

    margin: 0rem 0.44rem 0 0.94rem;
}




/* Home page icons */
.arrow {

    justify-content: center;
    align-items: end;

    /* text-align: center;  */
    width: 1.3125rem;
    max-height: 1.3125rem;
    margin: 0.0rem 0.75rem 0 0.75rem;
    
}


/* Social media */

.social-media-icon {

    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
}
