/* Form Icons */
.form-mail-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;

    margin: 0 0.4375rem 0 0.9375rem;
    background-image: url('../assets/icons/email.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.form-eye-icon {
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;

    margin: 0.25rem 0.4375rem 0 0.9375rem;
    background-image: url('../assets/icons/eye_closed.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.form-locked-icon {
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;

    margin: 0rem 0.4375rem 0 0.9375rem;
    background-image: url('../assets/icons/locked.png');

    background-repeat: no-repeat;
    background-size: contain;
}




/* Home page icons */
.arrow {
    display: inline-block;
    justify-content: center;
    /* text-align: center;  */
    width: 1.3125rem;
    height: 1.3125rem;
    padding: 0rem 0 0 0;

    /* margin: 0rem 0.75rem 0 0.75rem; */
    background-image: url('../assets/icons/arrow.png');

    /* background-repeat: no-repeat;
    background-size: contain; */
}


/* Social media */

.instagram {

    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/instagram.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.facebook {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/facebook.png');

    background-repeat: no-repeat;
    background-size: contain;

}

.telegram {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/telegram.png');

    background-repeat: no-repeat;
    background-size: contain;

}

.twitter {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/twitter.png');

    background-repeat: no-repeat;
    background-size: contain;
}

.linkedin {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
    background-image: url('../assets/icons/social_media/linkledin.png');

    background-repeat: no-repeat;
    background-size: contain;
}