.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    position: absolute;
    width: 736px;
    height: 1080px;
    left: calc(50% - 736px/2);
    top: calc(50% - 1080px/2);

    /* light-gradient */

    background: linear-gradient(135.5deg, #56E1F8 17.67%, #31B6FF 92.01%);
    opacity: 0.1;
}