.container {
    height: 6.25rem;

    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    position: sticky;
    

    top: 0;
    background: #00003C;
    z-index: 4;
    gap: 2rem;

}

.container-auth {
    display: flex;
    justify-content: space-between;

    padding: 0 15rem 0 10rem;

    top: 0;
    width: 100%;
    height: 6.25rem;

    position: fixed;
    z-index: 1;

}

.logo {
    flex: 1;
    align-self: center;
    justify-content: flex-end;

    max-width: 15.5rem;
    height: 3.06rem;
}

.nav-menu {
    flex: 1;
    display: flex;
    flex-direction: row;

    align-self: center;
    justify-content: flex-end;

    gap: 2rem;

    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
}

.nav-menu a {

    text-decoration: none;
    color: white;
}

.button-menu {
    flex: 1;
    display: flex;

    align-self: center;
    justify-content: flex-end;
}

.button-login {

    text-align: center;
    font-weight: 700;
    font-size: 1.18rem;



    height: 3.5rem;
    width: 10rem;

    border: 0.125rem solid #31B6FF;
    border-radius: 0.75rem;
    background-color: #00003C;
    cursor: pointer;

    color: #31B6FF;

}

.button-signup {
    text-align: center;
    font-weight: 700;
    font-size: 1.18rem;


    margin-left: 1.87rem;
    height: 3.5rem;
    width: 10rem;

    border: none;
    border-radius: 0.75rem;
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
    color: #00003C;

    cursor: pointer;
    pointer-events: all;
}

.button-login:hover {
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 60%);
    color: #00003C;
}

.button-signup:hover {
    border: 0.125rem solid #31B6FF;
    border-radius: 0.75rem;
    background: #00003C;

    color: #31B6FF;
}.container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%; 
    padding-top: 10px;
    overflow: hidden;
    background: #00003C;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.logo {
    flex: 0 0 auto;
    margin-left: 10%;

    align-self: center;

    background-image: url('../assets/logo-dark.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 250px;
    height: 50px;
}

.nav-menu {
    display: flex;
    flex: 0 0 auto;

    align-self: center;
    justify-content: right;

    padding-left: 250px;
    gap: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu h2:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.button-menu {
    display: flex;
    flex: 0 0 auto;

    padding-left: 20px;
    align-self: center;
    justify-content: left;
}

.button-login {

    text-align: center;
    font-weight: 700;
    font-size: 19px;

    padding: 12px 20px;
    margin-left: 30px;
    height: 56px;
    width: 160px;

    border: 2px solid #31B6FF;
    border-radius: 12px;
    background-color: #00003C;

    color: #31B6FF;

}

.button-signup {
    text-align: center;
    font-weight: 700;
    font-size: 19px;

    padding: 12px 20px;
    margin-left: 30px;
    height: 56px;
    width: 160px;

    border: none;
    border-radius: 12px;
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
    color: black;

    cursor: pointer;
    pointer-events: all;
}

.button-login:hover {
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 60%);
    color: #00003C;
}

.button-signup:hover {
    background: linear-gradient(180deg, #56e0f8bb 0%, #31b7ffa9 60%);
    color: #ffffff;
}

.solid {
    color: #fff;
}

/* .menu-icon {
    display: none;
} */

@media (max-width: 800px) {
    .container {
      position:relative;
      /* flex-direction: column; */
      /* align-items: center;
      height: auto; */
    }
  
    .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 10%;
        margin-top: 10%;
        padding-top: 20px;
    
        /* flex: 0 0 auto;
        align-self: center;
        width: 250px;
        height: 50px; */
    }
    .nav-menu {
        display: none;
        /* display: flex;
        flex-direction: column; */
        /* padding-left: 0;
        margin-top: 10px; */
        /* width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease; */
    }
  
    .button-menu {
      /* padding-left: 0;
      margin-top: 10px;
      justify-content: center; */
      display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .menu.icon.close {
        color: #fff;
        font-size: 2rem;
    }


  }

  