.container {
    height: 6.25rem;

    display: flex;
    justify-content: space-between;
    padding: 0 11rem;
    position: sticky;
    

    top: 0;
    background: #00003C;
    z-index: 4;
    gap: 2rem;

}

.container-auth {
    display: flex;
    justify-content: space-between;

    padding: 0 15rem 0 10rem;

    top: 0;
    width: 100%;
    height: 6.25rem;

    position: fixed;
    z-index: 1;

}

.logo {
    flex: 1;
    align-self: center;
    justify-content: flex-end;
    /* margin-left: 1rem; */


    max-width: 15.5rem;
    height: 3.06rem;
}

.nav-menu {
    flex: 1;
    display: flex;
    flex-direction: row;

    align-self: center;
    justify-content: flex-end;

    gap: 2rem;

    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
}

.nav-menu a {

    text-decoration: none;
    color: white;
}

.button-menu {
    flex: 1;
    display: flex;

    align-self: center;
    justify-content: flex-end;
}

.button-login {

    text-align: center;
    font-weight: 700;
    font-size: 1.18rem;



    height: 3.5rem;
    width: 10rem;

    border: 0.125rem solid #31B6FF;
    border-radius: 0.75rem;
    background-color: #00003c00;
    cursor: pointer;

    color: #31B6FF;

}

.button-signup {
    text-align: center;
    font-weight: 700;
    font-size: 1.18rem;


    margin-left: 1.87rem;
    height: 3.5rem;
    width: 10rem;

    border: none;
    border-radius: 0.75rem;
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);
    color: #00003C;

    cursor: pointer;
    pointer-events: all;
}

.button-login:hover {
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 60%);
    color: #00003C;
}

.button-signup:hover {
    border: 0.125rem solid #31B6FF;
    border-radius: 0.75rem;
    background: #00003C;

    color: #31B6FF;
}

@media (max-width: 800px) {
    .container {
      position:relative;
      /* flex-direction: column; */
      /* align-items: center;
      height: auto; */
    }
  
    .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 10%;
        margin-top: 10%;
        padding-top: 20px;
    }
    .nav-menu {
        display: none;
    }
  
    .button-menu {

      display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .menu.icon.close {
        color: #fff;
        font-size: 2rem;
    }


  }

  