.container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.25rem;
    overflow: hidden;
    background: #00003C;
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin-left: 10%;

    align-self: center;

    background-image: url('../assets/logo-dark.png');
    background-size: cover;
    background-repeat: no-repeat;

    width: 15.625rem;
    height: 3.125rem;
}

.nav-menu {
    display: flex;

    align-self: center;
    justify-content: right;

    padding-left: 24.375rem;
    gap: 2rem;

    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.button-menu {
    display: flex;

    padding-left: 7.5rem;
    align-self: center;
    justify-content: left;
}

.button-login {

    text-align: center;
    font-weight: 700;
    font-size: 1.18rem;

    padding: 0.75rem 1.25rem;
    margin-left: 1.87rem;
    height: 3.5rem;
    width: 10rem;

    border: 0.125rem solid #31B6FF;
    border-radius: 0.75rem;
    background-color: #00003C;
    cursor: pointer;

    color: #31B6FF;

}

.button-signup {
    text-align: center;
    font-weight: 700;
    font-size: 1.18rem;

    padding: 0.75rem 1.25rem;
    margin-left: 1.87rem;
    height: 3.5rem;
    width: 10rem;

    border: none;
    border-radius: 0.75rem;
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 100%);    color: #00003C;

    cursor: pointer;
    pointer-events: all;
}

.button-login:hover {
    background: linear-gradient(180deg, #56E1F8 0%, #31B6FF 60%); 
    color: #00003C;
}

.button-signup:hover {
    border: 0.125rem solid #31B6FF;
    border-radius: 0.75rem;
    background: #00003C;

    color: #31B6FF;
}