/* The side navigation menu */
.sidenav section,
.sidenavClosed section {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 20px;
    justify-self: center;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191950;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: relative;
    display: flex;

    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.68rem;
}

.sidenav a {
    padding: 0.5rem 0.5rem 0 2rem;
    height: 3.1rem;
    transition: 0.3s;
}

.sidenav h3 {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;

    color: #ecececbb;
}

.sidenav h3:hover {
    color: #f1f1f1;
}

.sidenav button {
    height: 3rem;
    transition: 0.3s;
}

/* Closed Side Nav bar */
.sidenavClosed {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;

    height: 100%;
    width: 3.1rem;
    position: absolute;

    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3.4rem;
    transition: 0.5s;
}

.sidenavClosed h3,
.sidenavClosed button {
    display: none;
}

.sidenavClosed .closebtn {
    display: flex;
    justify-content: center;
    width: 100%;

    font-size: 1.8rem;
}

.link {
    height: 1.6rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
}

.icons {
    margin: auto;
    height: auto;
    width: 1.4rem;
}

.main {
    transition: margin-left .5s;
    padding-left: 8.12rem;
    padding-top: 4.5rem;
}


@media screen and (max-height: 1100px) {
   /* todo make mobile friendly */
}